* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #f6d365, #fda085);

  height: 100vh;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.music-main {
  display: flex;
  align-items: center;
  justify-content: center;
  
  gap: 20px;
  padding-bottom: 220px;
}

.music-player {
  background-color: #fff;
  padding: 20px;
  padding-bottom: 0px;
  border-radius: 0px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0%;
}
.current-song-area{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.song-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.song-item{
  display: grid;
  grid-template-columns: 0.3fr 1fr 1.5fr  1fr;
  align-items: center;
  gap: 30px;
  padding: 12px;
}
.songs-row {
  background-color: #f6d365;
  padding: 12px;
  display: grid;
  grid-template-columns: 0.3fr 1fr 1.5fr  1fr;
  align-items: center;
  gap: 30px;
  border-bottom-left-radius:  20px;
  border-bottom-right-radius:  20px;
}
.songs-action {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-self: center;
}
.cover {
  width: 60px;
  height: 60px;
  border-radius: 50%;

}
.control-btn.liked {
  color: red; /* Change to a color indicating 'liked' */
}

.control-btn.disliked {
  color: gray; /* Change to a color indicating 'disliked' */
}


.song-title {
  font-size: 18px;
  font-weight: bold;
}

.artist-name {
  font-size: 14px;
  color: #666;
}

.controls {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
  gap: 5px;
}
.fa {
  font-size: 30px;
}

.control-btn {
  background: #fda085;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.control-btn:hover {
  background: #f6d365;
}

.progress-container,
.volume-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

#progress-bar,
#volume {
  width: 100%;
}
/* Add styles for the song list */
.song-list {
  margin-top: 20px;

  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 60%;
  text-align: left;
}

.song-list h3 {
  text-align: center;
  margin-bottom: 10px;
}

#song-list {
  list-style: none;
  padding: 0;
}
/* 
.song-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
} */

.play-btn {
  background: #fda085;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.search-container {
  margin: 20px auto;
  text-align: center;
}

#search-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

#search-input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 300px;
  font-size: 20px;

}

#search-form button {
  padding: 8px 12px;
  border: none;
  background-color: #fda085;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .cover {
    width: 30px;
    height: 100%;
    border-radius: 0;
  }
  .control-btn {
    padding: 5px 8px;
  }
  #volume {
    width: 50%;
  }
}